{% extends 'base.html' %} 
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/dashboard_update.css' %}" />
{% endblock %} 
{% block content %}
<section class="p_header">
    <a href="{% url 'projects:dashboard' %}" class="p_dashboard"><p>DASHBOARD</p></a>
    <a href="{% url 'guides:mission' %}" class="p_mission"><p>MISSION</p></a>
</section>
<div class="dashboard">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="d_service">
            <label for="project_image" style="cursor: pointer;">
            {% if project.project_image %}
            <img src="{{ project.project_image.url }}" alt="서비스이미지" class="project_image" id="preview_image">
            {% else %}
            <img src="{% static 'images/service_default.png' %}" alt="서비스이미지" id="preview_image">
            {% endif %}
            </label>
            <input type="file" id="project_image" name="project_image" accept="image/*" style="display:none;">
            <input type="text" name="title" value="{{ project.title }}" class="title_input" required>
            <textarea name="description" class="description_input" required>{{ project.description }}</textarea>
        </div>
        
        <div class="d_period">
            <img src="{% static 'images/calender.png' %}" alt="달력이미지">
            <p><span class="period_title">진행기간 </span>            
                {% if project.starts_at and project.ends_at %}
                {{ project.starts_at|date:"Y/m/d" }} ~ {{ project.ends_at|date:"Y/m/d" }}
                {% else %}
                미정
                {% endif %}</p>
        </div>
        
        <div class="d_link">
            <div class="l_title">
                <img src="{% static 'images/link.png' %}" alt="link">
                <h3>관련 링크</h3>
            </div>
            <div class="l_content">
                {{ form.related_links }}
            </div>
        </div>
        <hr>
        
        <div class="d_team">
            <div class="t_title">
                <img src="{% static 'images/team_flag.png' %}" alt="팀 아이콘">
                <h3>Team</h3>
                <div class="t_report">
                    <img src="{% static 'images/report.png' %}" alt="신고하기">
                    <a href=""><p>버스 탑승자 신고하기</p></a>
                </div>
            </div>
            <div class="t_content">
                <p><span class="t_role">PM</span>
                    {% for member in members %}
                        {% if member.role.code == "PM" %}
                            {{ member.user.username }}
                        {% endif %}
                    {% endfor %}
                </p>
                <p><span class="t_role">FE</span> 
                    {% for member in members %}
                        {% if member.role.name == "프론트엔드" %}
                            {{ member.user.username }}
                        {% endif %}
                    {% endfor %}
                </p>
                <p><span class="t_role">BE</span> 
                    {% for member in members %}
                        {% if member.role.name == "백엔드" %}
                            {{ member.user.username }}
                        {% endif %}
                    {% endfor %}
                </p>
            <div class="t_member">
                {% for item in members_with_level %}
                <div class="member">
                    <div class="profile_section">
                        {% if item.member.user.profile_image %}
                        <img src="{{ item.member.user.profile_image.url }}" alt="프로필사진" class="profile">
                        {% else %}
                        <img src="{% static 'images/default_img.png' %}" alt="프로필사진" class="profile">
                        {% endif %}
                        
                        {% if item.level == 1 %}
                        <img src="{% static 'images/Level1.png' %}" alt="레벨1" class="level">
                        {% elif item.level == 2 %}
                        <img src="{% static 'images/Level2.png' %}" alt="레벨2" class="level">
                        {% elif item.level == 3 %}
                        <img src="{% static 'images/Level3.png' %}" alt="레벨3" class="level">
                        {% elif item.level == 4 %}
                        <img src="{% static 'images/Level4.png' %}" alt="레벨4" class="level">
                        {% endif %}
                    </div>

                    <h3>{{ item.member.user.username }}</h3>
                    <p class="info">✉️ {{ item.member.user.email }}</p>
                    <p class="info">🖥️ @{{ item.member.user.username }}</p>
                    {% if item.member.role.code == "PM" %}
                        <p class="role_design">기획자</p>
                    {% elif item.member.role.name == "프론트엔드" %}
                        <p class="role_frontend">프론트엔드</p>
                    {% elif item.member.role.name == "백엔드" %}
                        <p class="role_backend">백엔드</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
        
        <div class="d_rule">
            <div class="r_title">
                <img src="{% static 'images/rule.png' %}" alt="rule">
                <h3>팀 규칙</h3>
            </div>
            <div class="r_content">
                {{ form.team_rules }}
            </div>
        </div>
        
        <div class="d_progress">
            <div class="p_title">
                <img src="{% static 'images/progress.png' %}" alt="progress">
                <div>
                    <h3>{{ project.title }}의 진척도</h3>
                </div>
            </div>
            <div class="role_progress_bar">
                <h3>전체</h3>
                <div class="progress_bar_container">
                    <div class="progress_bar_fill" style="width: {% if guide_progress %}{{ guide_progress.progress_percent }}{% else %}0{% endif %}%;"></div>
                </div>
                <span class="progress_percent">{% if guide_progress %}{{ guide_progress.progress_percent }}{% else %}0{% endif %}%</span>
            </div>
        </div>
        
        <button type="submit">저장하기</button>
    </form>
</div>
<script defer src="{% static 'js/dashboard_update.js' %}"></script>
{% endblock %}