############################
# Python / Django
############################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db

# Django
*.pot
*.pyc
local_settings.py
settings_local.py

# Django media & static (선택)
staticfiles/

############################
# Environment variables
############################
.env
.env.*
!.env.example

############################
# Virtual Environment
############################
venv/
.venv/
env/
ENV/
pip-wheel-metadata/

############################
# Docker
############################
#docker-compose.override.yml
*.tar
*.log

############################
# AWS / Deployment
############################
.elasticbeanstalk/
.ebextensions/*.bak
.aws/

############################
# OS / Editor
############################
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml

############################
# Node (프론트 빌드 시)
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# Tests / Coverage
############################
.coverage
htmlcov/
.pytest_cache/

############################
# 기타
############################
.cache/
/media/


*.pem
kitup-key.pem

# AI용 프로젝트 압축 파일
*.zip