@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  margin: 0; padding: 0;
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0; left: 0;
    background: #fff;
    z-index: 1000;
    width: 100%; height: 60px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: black;
}

header a h3 {
    background: #EAF0FF; color: #4272EF;
    font-size: 32px;
    font-weight: bolder;
}

header .header_menu {
    display: flex;
}

header .header_menu > a {
    display: block;
    color: #4272EF;
    width: 110px; height: 40px;
    margin-left: 20px; text-align: center;
    border-radius: 20px;
}

header .header_menu > a:hover {
    background: #4272EF;
    color: #fff;
    transition: 0.3s ease;
}

header .header_menu > a p {
    padding: 13px auto;
    font-size: 14px; font-weight: bold;
    line-height: 40px;
}

main {
    padding-top: 60px;
    min-height: calc(100vh - 60px);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

.dropdown > a {
    display: block;
    color: #4272EF;
    width: 110px; height: 40px;
    text-align: center;
    border-radius: 20px;
}

.dropdown > a:hover {
    background: #4272EF;
    color: #fff;
    transition: 0.5s ease;
}

.dropdown > a p {
    padding: 13px auto;
    font-size: 14px; font-weight: bold;
    line-height: 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 42px;
    left: -10px;
    background: #fff;
    min-width: 130px;
    overflow: hidden;
    z-index: 1001;
    padding-top: 3px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.dropdown-content::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
    height: 3px;
    background: transparent;
}

.dropdown-content a {
    display: block;
    color: #4272EF;
    padding: 12px 0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.dropdown-content a:hover {
    background: #4272EF;
    color: #fff;
    transition: 0.5s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
}