/* 프로젝트 헤더 */
.p_header {
	width: 90%;
	height: 50px;
	margin: 0 auto;
	display: flex;
}

.p_header a {
	display: block;
	width: 50%;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	background: #F6F8FF;
}

.p_header .p_dashboard {
	background: #F6F8FF;
	color: #1d294b;
}

.p_header .p_mission {
	background: #fff;
	color: #cad9ff;
}

.p_header .p_mission:hover {
	background: #eaf0ff;
	color: #1d294b;
	transition: 0.3s ease-in-out;
}

.p_header a p {
	font-size: 18px;
	font-weight: 700;
}

.dashboard {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.dashboard > h3 {
    font-size: 40px; font-weight: 650;
    margin: 150px auto 30px;
}

.dashboard > a {
    display: block;
    text-align: center;
    width: 200px; height: 40px;
    margin: 0 auto;
    text-decoration: none;
    background: #4272EF;
    border-radius: 20px;
}

.dashboard > a:hover {
    background: #1F4CC0;
    transition: 0.3s ease;
}

.dashboard > a > p {
    color: #fff;
    font-size: 20px; font-weight: 500;
    line-height: 40px;
}

/* 프로젝트 개요 */
.d_service {
    margin: 60px auto 0;
    text-align: center;
}

.d_service > img {
    width: 500px;
}

.d_service > h3 {
    margin-top: 20px;
    font-size: 35px; font-weight: 600;
}

.d_service > p {
    margin-top: 15px;
    font-size: 24px; 
}

/* 진행기간 & 즐겨찾기 */
.d_period {
    display: flex;
    margin-top: 70px;
    align-items: center;
}

.d_period > img {
    width: 40px; height: 40px;
    margin-right: 7px;
}

.d_period > p {
    font-size: 18px;
}

.d_period > p > .period_title {
    font-weight: 600; font-size: 22px;
    margin-right: 5px;
}

.d_bookmark {
    text-align: start;
}

.b_title {
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.b_title > img {
    width: 40px; height: 40px;
    margin-right: 7px;
}

.b_title > p {
    font-weight: 600; font-size: 22px;
    margin-top: 2px;
}

.b_content {
    margin-top: 5px;
    margin-left: 47px;
}

.b_content > p {
    font-size: 18px;
}

hr {
    margin-top: 50px;
    border: 2px solid #F1F1F1;
}

/* 컨텐츠 */
.d_team {
    text-align: start;
    margin-top: 50px;
}

.t_title {
    display: flex;
    align-items: center;
    position: relative;
}

.t_title > img {
    width: 40px; height: 40px;
    margin-right: 7px;
}

.t_title > h3 {
    font-weight: 600; font-size: 22px;
    margin-top: 2px;
}

.t_title > .t_report {
    position: absolute;
    top: 0; right: 0;
    display: flex;
    align-items: center;
}

.t_report > img {
    width: 20px; height: 20px;
    margin-right: 7px;
}

.t_report a {
    text-decoration: none;
    font-size: 14px;
    color: #FF0000;
}

.t_content {
    margin-top: 5px;
}

.d_team > .t_content > p {
    margin-left: 47px;
    font-size: 18px;
}

.d_team > .t_content > p > .t_role {
    font-weight: 600; font-size: 19px;
    margin-right: 5px;
}

.t_member {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px
}

.t_member > .member {
    position: relative;
    background: #fff;
    box-shadow: 1px 2px 2px 1px #ccc;
    padding: 15px 25px;
    width: 200px;
    text-align: center;
    border-radius: 20px;
}
 
.member > .profile {
    width: 100px; height: 100px;
}

.member > .level {
    width: 35px; height: 35px;
    position: absolute;
    top: 90px; right: 35px;
}

.member > h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px; font-weight: 550;
}

.member > .info {
    text-align: start;
    font-size: 16px;
}

.member > .role_design {
    font-size: 16px;
    margin: 15px auto;
    padding: 5px 0;
    width: 70%; height: 30px;
    border: 1px solid #00B9B0;
    border-radius: 20px;
    color: #00B9B0;
    box-shadow: 1px 2px 2px 1px #00B9B0;
}

.member > .role_frontend {
    font-size: 16px;
    margin: 15px auto;
    padding: 5px 0;
    width: 70%; height: 30px;
    border: 1px solid #FFCE53;
    border-radius: 20px;
    color: #FFCE53;
    box-shadow: 1px 2px 2px 1px #FFCE53;
}

.member > .role_backend {
    font-size: 16px;
    margin: 15px auto;
    padding: 5px 0;
    width: 70%; height: 30px;
    border: 1px solid #FF3E88;
    border-radius: 20px;
    color: #FF3E88;
    box-shadow: 1px 2px 2px 1px #FF3E88;
}

.d_rule {
    margin-top: 50px;
    text-align: start;
}

.r_title {
    display: flex;
    align-items: center;
    position: relative;
}

.r_title > img {
    width: 40px; height: 40px;
    margin-right: 7px;
}

.r_title > h3 {
    font-weight: 600; font-size: 22px;
    margin-top: 2px;
}

.r_content {
    margin-left: 47px;
    margin-top: 5px;
}

.r_content > p {
    font-size: 18px;
    line-height: 22px;
}

.d_link {
    margin-top: 30px;
    text-align: start;
}

.l_title {
    display: flex;
    align-items: center;
    position: relative;
}

.l_title > img {
    width: 40px; height: 40px;
    margin-right: 7px;
}

.l_title > h3 {
    font-weight: 600; font-size: 22px;
    margin-top: 2px;
}

.l_content {
    margin-left: 47px;
    margin-top: 5px;
}

.l_content > p {
    font-size: 18px;
    line-height: 22px;
}

.d_progress {
    margin-top: 30px;
    text-align: start;
}

.p_title {
    display: flex;
    align-items: center;
    position: relative;
}

.p_title > img {
    width: 50px; height: 50px;
}

.p_title > h3 {
    font-weight: 600; font-size: 22px;
    margin-top: 2px;
}

.p_content {
    position: relative;
    margin: 5px 0 100px 47px ;
}

.p_bar {
    width: 100%; height: 20px;
    background: #ccc;
    border-radius: 20px;
}

.p_real {
    position: absolute;
    top: 0;
    width: 60%; height: 20px;
    background: #5A88FF;
    border-radius: 20px;
}

button {
    width: 200px; height: 40px;
    background: #4272EF;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 18px; font-weight: 500;
    text-align: center;
    margin-bottom: 200px;
}

button:hover {
    cursor: pointer;
    background: #1F4CC0;
    transition: 0.3s ease;
}
