body {
	font-family:
		"Pretendard Variable",
		Pretendard,
		-apple-system,
		BlinkMacSystemFont,
		system-ui,
		Roboto,
		"Helvetica Neue",
		"Segoe UI",
		"Apple SD Gothic Neo",
		"Noto Sans KR",
		"Malgun Gothic",
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		sans-serif;
	margin: 0;
	padding: 0;
}

/* 메인 */
.main-container {
	width: 85%;
	margin: 0 auto;
}

.main-container img {
	width: 100%;
	margin-top: 30px;
}

/* 회고 */
.main-note {
	width: 85%;
	margin: 100px auto 0;
}

.main-note .main-note-title {
	width: 100%;
	display: flex;
	align-items: center;
}

.main-note .main-note-title img {
	width: 7%;
}

.main-note .main-note-title h3 {
	font-size: 25px;
}

.main-note .main-note-content {
	margin-top: 25px;
	width: 100%;
	min-height: 100px;
	padding: 35px 45px;
	background: #f9f9f9;
	border-radius: 20px;
}

.main-note .main-note-content .login_content {
	display: flex;
	align-items: center;
	gap: 20px;
}

.main-note .main-note-content .login_content .m_title {
	width: 20%;
	font-weight: 600;
}

.main-note .main-note-content .login_content .m_content {
	width: 70%;
}

.main-note .main-note-content .login_content .m_date {
	width: 10%;
	font-size: 16px;
	color: #999999;
}

.main-note .main-note-content .unlogin_content {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	align-items: center;
}

.m_note_btn {
    display: block;
    width: 20%;
    margin: 30px auto;
    background: #1D294B; color: #fff;
    font-weight: 500; font-size: 16px;
    border-radius: 20px; padding: 7px 30px;
}

/* 팀매칭 */
.main-team {
	margin-top: 90px;
	width: 100%;
	min-height: 300px;
	padding: 90px 0;
	background: #f6f8ff;
	text-align: center;
}

.main-team h3 {
	margin-bottom: 20px;
	font-size: 35px;
}

.main-team .m_team_stack {
	width: 90%;
	margin: 40px auto 0;
	display: flex;
	justify-content: space-between;
}

/* WEB 기획 */
.main-team .m_team_stack .m_design {
	padding: 25px 0;
	width: 30%;
	height: 10%;
	text-align: center;
	background: #fff;
	border: 3px solid #00b9b050;
	border-radius: 40px;
}

.main-team .m_team_stack .m_design h3 {
	font-weight: 600;
	font-size: 25px;
}

.main-team .m_team_stack .m_design img {
	width: 50px;
	height: 50px;
}

.main-team .m_team_stack .m_nolevel {
	margin-top: 5px;
	color: #ff0202;
	font-size: 16px;
}

.main-team .m_team_stack .m_design .m_design_btn {
	margin-top: 15px;
	padding: 10px 0;
	width: 250px;
	height: 45px;
	background: #00b9b0;
	color: #fff;
	border: none;
	border-radius: 30px;
	font-size: 18px;
	font-weight: 550;
}

/* WEB 프론트엔드 */
.main-team .m_team_stack .m_frontend {
	padding: 25px 0;
	width: 30%;
	height: 5%;
	text-align: center;
	background: #fff;
	border: 3px solid #ffce5350;
	border-radius: 40px;
}

.main-team .m_team_stack .m_frontend h3 {
	font-weight: 600;
	font-size: 25px;
}

.main-team .m_team_stack .m_frontend img {
	width: 50px;
	height: 50px;
}

.main-team .m_team_stack .m_frontend .m_level {
	margin-top: 5px;
	color: #000;
	font-size: 16px;
}

.main-team .m_team_stack .m_frontend .m_front_btn {
	margin-top: 15px;
	padding: 5px 0;
	width: 250px;
	height: 45px;
	background: #ffce53;
	color: #fff;
	border: none;
	border-radius: 30px;
	font-size: 18px;
	font-weight: 550;
}

/* WEB 백엔드 */
.main-team .m_team_stack .m_backend {
	padding: 25px 0;
	width: 30%;
	height: 5%;
	text-align: center;
	background: #fff;
	border: 3px solid #ff3e8850;
	border-radius: 40px;
}

.main-team .m_team_stack .m_backend h3 {
	font-weight: 600;
	font-size: 25px;
}

.main-team .m_team_stack .m_backend img {
	width: 50px;
	height: 50px;
}

.main-team .m_team_stack .m_backend .m_level {
	margin-top: 5px;
	color: #000;
	font-size: 16px;
}

.main-team .m_team_stack .m_backend .m_back_btn {
	margin-top: 15px;
	padding: 10px 0;
	width: 250px;
	height: 45px;
	background: #ff3e88;
	color: #fff;
	border: none;
	border-radius: 30px;
	font-size: 18px;
	font-weight: 550;
}

/* 팀 매칭 결과 */
.m_team_result {
	display: block;
	width: 18%; height: 40px;
	margin: 30px auto 0;
	padding: 5px 10px;
	text-decoration: none;
	background: #1F4CC0;
	color: #fff;
	border-radius: 20px;
}

.m_team_result:hover {
	background: #4272EF;
	transition: 0.3s ease-in-out;
}

.m_team_result p {
	font-weight: 550; font-size: 18px;
	line-height: 30px;
}

/* KITUP 프로젝트 */
.main-project {
	width: 85%;
	margin: 0 auto;
}

.main-project .m_project_title {
	margin-top: 100px;
	display: flex;
	align-items: center;
}

.main-project .m_project_title img {
	width: 7%;
}

.main-project .m_project_title h3 {
	font-size: 25px;
	padding: 12px 4px 0;
}

.main-project .m_project_content {
	margin-top: 25px;
	width: 100%;
	min-height: 100px;
}

.main-project .m_project_content .m_noproject {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	align-items: center;
	padding: 35px 45px;
	background: #f9f9f9;
	border-radius: 20px;
	text-align: center;
}

.main-project .m_project_content .m_project {
	display: flex;
	gap: 30px;
	width: 100%;
	overflow-x: auto;
	padding-bottom: 10px;
	-webkit-overflow-scrolling: touch;
}

.main-project .m_project_content .m_project > div {
	flex: 0 0 300px;
	height: 300px;
    padding: 20px;
	background: #EAF0FF;
    border-radius: 20px;
}

.main-project .m_project_content .m_project div img {
    border-radius: 15px;
    height: 65%;
}

.main-project .m_project_content .m_project div h3 {
	font-size: 22px; font-weight: 600;
    padding: 10px 0;
}

.main-project .m_project_content .m_project div p {
    font-size: 16px;
}

/* 푸터 */
footer {
	background: #1d294b;
	margin-top: 200px;
	width: 100%;
	height: 150px;
}
