{% extends 'base.html' %} {% load static %} {% block header %}
<link rel="stylesheet" href="{% static 'css/mission.css' %}" />
{% endblock %} {% block content %}
<section class="p_header">
	<a href="{% url 'projects:dashboard' %}" class="p_dashboard"
		><p>DASHBOARD</p></a
	>
	<a href="{% url 'guides:mission' %}" class="p_mission"><p>MISSION</p></a>
</section>
<div class="mission_progress">
	<div class="mp_title">
		<img src="{% static 'images/rocket.png' %}" alt="rocket" />
		<div>
			<h3>{서비스명}의 진척도</h3>
			<p>*파트별로 진행 속도를 맞추는 것을 권장드려요!</p>
		</div>
	</div>
	<div class="pm_progress">
		<h3>PM</h3>
		<div class="pm_bar">
            <p class="pm_real"></p>
        </div>
	</div>
	<div class="front_progress">
		<h3>FE</h3>
		<div class="front_bar">
            <p class="front_real"></p>
        </div>
	</div>
	<div class="back_progress">
		<h3>BE</h3>
		<div class="back_bar">
            <p class="back_real"></p>
        </div>
	</div>
</div>
<div class="mission_item" data-number="1">
    <div class="timeline_dot">
        <div class="circle">1</div>
        <div class="line"></div>
    </div>
    <div class="card_wrapper">
        <div class="mission_card" data-mission="1">
            <div class="card_header">
                <h3>Github repository 생성하기</h3>
                <img src="{% static 'images/nocheck.png' %}" alt="체크" class="check_icon">
            </div>
            <div class="card_content">
                <input type="text" placeholder="Github repository 생성하기" class="mission_input">
            </div>
        </div>
    </div>
</div>

<div class="mission_item" data-number="2">
    <div class="timeline_dot">
        <div class="circle">2</div>
        <div class="line"></div>
    </div>
    <div class="card_wrapper">
        <div class="mission_card" data-mission="2">
            <div class="card_header">
                <h3>Github repository에 팀원 초대하기</h3>
                <img src="{% static 'images/nocheck.png' %}" alt="체크" class="check_icon">
            </div>
            <div class="card_content">
                <p class="card_description">(팀트랙 or 유튜브 제목)</p>
                <input type="text" placeholder="Github repository에 팀원 초대하기" class="mission_input">
            </div>
        </div>
    </div>
</div>

<div class="mission_item" data-number="3">
    <div class="timeline_dot">
        <div class="circle">3</div>
        <div class="line"></div>
    </div>
    <div class="card_wrapper">
        <div class="mission_card" data-mission="3">
            <div class="card_header">
                <h3>Github branch 파기</h3>
                <img src="{% static 'images/nocheck.png' %}" alt="체크" class="check_icon">
            </div>
            <div class="card_content">
                <input type="text" placeholder="Github branch 파기" class="mission_input">
            </div>
        </div>
    </div>
</div>

<div class="mission_item" data-number="4">
    <div class="timeline_dot">
        <div class="circle">4</div>
        <div class="line"></div>
    </div>
    <div class="card_wrapper">
        <div class="mission_card" data-mission="4">
            <div class="card_header">
                <h3>Github repository 생성하기</h3>
                <img src="{% static 'images/nocheck.png' %}" alt="체크" class="check_icon">
            </div>
            <div class="card_content">
                <input type="text" placeholder="Github repository 생성하기" class="mission_input">
            </div>
        </div>
    </div>
</div>
</div>

<script src="{% static 'js/mission.js' %}"></script>
{% endblock %}